#postalCode {
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.errorMessage {
  margin-bottom: 10px;
  font-size: 10px;
  background-color: #ff6961;
  color: white;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 3px; 
}

.mpListItem {
  display: flex;
  margin: auto;
  width: 600px;
  background: #f9f9f9;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.mpListItem .email {
  text-transform: lowercase;
  text-align: right;
  flex-grow: 1;
}